* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #222;
}

/* Containers */

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Headings */

h1,
h2,
h3 {
  margin-bottom: 10px;
}

/* Links */

a {
  text-decoration: none;
}

/* Utility */

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

/* Buttons */
.btn {
  display: inline-block;

  padding: 10px 14px;

  border-radius: 8px;

  text-decoration: none;

  font-weight: 600;

  text-align: center;

  transition: 0.2s ease;
}

/* Primary */

.btn-primary {
  background: #0077cc;

  color: white;
}

.btn-primary:hover {
  background: #005fa3;
}

/* Danger */

.btn-danger {
  background: #ef4b57;

  color: white;
}

.btn-danger:hover {
  background: #d83b47;
}
